@mixin container-background($width) {
  background-color: #fff;
  display:flex;
  width: $width;
  margin: 100px auto;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba($color: #000, $alpha: .2);
}

@mixin button {
  border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  
    &:hover {
      opacity: .6;
      transition: opacity 0.2s ease-in;
    }
}

