@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
  font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  background-color: #eeeeee;
}

fieldset {
  border:none;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #CCC;
}